{% extends 'base.html' %}

{% block title %}Aulia的模拟数据{% endblock %}

{% block content %}

    <form action="{% url 'haystack_search' %}" method="get" role="search" id="searchform">
    {% csrf_token %}
        <div class="form-group">
            <label class="offset-3">你想要搜索什么？</label>
            <input type="search" class="form-control col-4 offset-3" name="q" placeholder="来啦老弟" required>
        </div>
        <button type="submit" class="btn btn-primary offset-3">确定</button>
    </form>

{% endblock %}